
@font-face{
    font-family: 'ss';
    src: url(media/font/OpenSans-Regular.ttf);
}
* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
}

body {
    background-color: rgb(41, 40, 40);
}


.navbar {
    
    background-color: rgba(124, 124, 124, 0.445);
    border-radius:  0 0 20px 20px;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    color: rgb(255, 255, 255);
    z-index: 2;
    position: fixed;
    width: 100%;
    align-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;


}
.logo{
    color:#ffffff;
    padding: 10px;
    background-color:rgb(9, 42, 65);
    border-radius:20px;
}
.spam_logo{
    color:rgb(145, 145, 255);
    font-size: 24px;
}

ul {
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 0px solid rgb(226, 84, 255);
    padding: 10px;

}

.navbar li:hover {
scale: 1.2;
    border-radius: 20px;
    transition: 0.1s;
    position: relative;
}






.wrapper {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;


}









.about_blok {margin-bottom: 26%}

.about_blok img {
overflow: hidden;
    width: 100%;
    margin-top: 6%;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-position: center ;
    margin-bottom: 3px;


    background-size: cover;


}

.about_text {
    margin-top: -40%;
    margin-left: 120px;

    color: aliceblue;
    background-color: rgba(245, 245, 220, 0.249);
    border-radius: 30px;
    width: 40%;
    padding: 40px;
    position: relative;
    font-size: 18px;

}

.uslug {
    background-color: rgb(252, 252, 252);
    border-radius: 20px;
    padding: 30px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 60px 30px;
}

.uslug h4 {
    width: 210px;
    font-size: 20px;
    text-align: left;
}

.item_pac {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(41, 41, 41);
    margin: 0 auto;
    justify-content: space-around;
}

.item_pac .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 27px;
    width: 300px;
    height: 100px;
    margin-bottom: 30px;

}
.item_pac .item:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 27px;
    width: 300px;
    height: 100px;
    margin-bottom: 30px;
    scale: 1.2;
    transition: 0.4s;

}

.item_pac .item img {
    margin-left: 7px;

}










.otzv {
    text-align: left;

}

.item_pacc {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(41, 41, 41);
    margin: 0 auto;
    justify-content: space-around;
    margin-right: 645px;
}

.item2 {
    display: flex;
    margin: 10px;
    background-color: #e3e3e3;
    border-radius: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 17px;
    text-align: start;
}
.item2:hover{
    scale:1.1;
    margin-top: 10px;
    transition: 0.3s;
}
.text{
    margin-left: 10px;
}

.item2 img {
    margin-right: 10px;

}

/*Слайдер*/

.page-title {
    text-align: center;
  }
  
  .slider-container {
    position: relative;
    width: 600px;
    height: 350px;
    margin: 0 auto;
    overflow: hidden;
    

  }
.news{
    margin-top: 60px;
    background-color: rgb(255, 255, 255);
    border-radius:20px;
    width: 70%;
    padding: 10px  0;
    color: #252525;
    scale: 1.3;
    margin-bottom:90px;
    
}
  
  .slider {
    display: flex;
    transition: 0.5s;
    transition: transform 0.9s linear ;
    
  }
  
  .slider img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    transition: transform 0.8s linear;
    border-radius:10px;
    background-color:rgb(48, 86, 255);
    padding-bottom: 40px;
    transition: 0.3s;
    
   
    
    
            animation: slowFade 4s infinite;
  }

  .slider p{
    overflow: hidden;
    position: absolute;
    margin-top:-30px ;
    margin-left: 100px;
    font-size: 17px;
   
    color: #e3e3e3;
    
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: white;
    transition: 0.1s;
  }

  .prev-button,
  .next-button :hover {
    scale: 1.1;
    transition: 0.3s;
  }
  .prev-button:hover {
    scale: 1.1;
    transition: 0.3s;
  }
  
  .prev-button {
    left: 10px;
    transform: rotate(-180deg);
    top:26%
  }
  
  .next-button {
    right: 10px;
  }

  .item_slic {
    overflow: hidden;
  }






/*Контакты*/

.contact {
    margin-top: 10px;
    color: aliceblue;
    text-align: center;
    background-color: rgb(49, 33, 65);
    border-radius: 30px;
    padding: 30px 30px 30px;
    width: 60%;
    margin: 0 auto;
}

.contact form {
    margin-top: -10px;
    margin-right: px;
    display: flex;
    width: 27%;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
    padding: 20px;
    padding-right: 50px;
    background-color:rgb(114, 116, 255);
    border-radius:20px;
}

.contact form {
    
}

.bloc_input {
    margin-bottom: 10px;
    padding: 10px;

}

.bloc_input:last-child {
    margin-right: 47px;
}
.bloc_input:last-child:hover {
    scale: 1.2;
    transition: 0.3s;
}

.bloc_input input {
    border-radius: 20px;
    border: none;
    padding: 11px;
    margin-left: 5px;
    width: 100%;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 700;
}
.bloc_input input:hover {
   
   scale: 1.1;
   transition: 0.2s;
}

.flex{
    display: ;
    margin-top: 40px;
}
.cont{
    background-color:rgb(114, 116, 255);
    padding: 20px;
    height: 40%;
    width: 50%;
    border-radius:20px;
    text-align: center;
    font-size: 17px;
    margin-bottom: 30px;
}


/*Футер*/
footer {
    color: rgb(124, 124, 124);
    text-align: center;
    font-weight: 500;
    margin-top: 40px;
}